html {
    position: relative;
}

body {
    background-color: rgb(179, 184, 184);
}

.spacer {
    margin-top: 2%;
    margin-right: 20px;
}

.block {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.letter {
    font-weight: bolder;
    font-size:40px;
    margin-left:50px;
}

.price {
    font-weight: bolder;
    font-size:40px;
    margin-left:50px;
    color: green;
}